In [2]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1.1. Парсинг данных

Выполним чтение данных из файла csv

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [6]:
# Приведение типов Date to DateTime
df['date']=pd.to_datetime(df['date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188559 entries, 0 to 188558
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    188559 non-null  object
 1   continent                                   177589 non-null  object
 2   location                                    188559 non-null  object
 3   date                                        188559 non-null  datetime64[ns]
 4   total_cases                                 181086 non-null  float64
 5   new_cases                                   180796 non-null  float64
 6   new_cases_smoothed                          179622 non-null  float64
 7   total_deaths                                162692 non-null  float64
 8   new_deaths                                  162669 non-null  float64
 9   new_deaths_smoothed                         161507 non-null  float64
 10  total_cases_per_million                     180250 non-null  float64
 11  new_cases_per_million                       179960 non-null  float64
 12  new_cases_smoothed_per_million              178791 non-null  float64
 13  total_deaths_per_million                    161869 non-null  float64
 14  new_deaths_per_million                      161846 non-null  float64
 15  new_deaths_smoothed_per_million             160689 non-null  float64
 16  reproduction_rate                           140710 non-null  float64
 17  icu_patients                                25140 non-null   float64
 18  icu_patients_per_million                    25140 non-null   float64
 19  hosp_patients                               26403 non-null   float64
 20  hosp_patients_per_million                   26403 non-null   float64
 21  weekly_icu_admissions                       6114 non-null    float64
 22  weekly_icu_admissions_per_million           6114 non-null    float64
 23  weekly_hosp_admissions                      12171 non-null   float64
 24  weekly_hosp_admissions_per_million          12171 non-null   float64
 25  total_tests                                 76833 non-null   float64
 26  new_tests                                   73791 non-null   float64
 27  total_tests_per_thousand                    76833 non-null   float64
 28  new_tests_per_thousand                      73791 non-null   float64
 29  new_tests_smoothed                          99375 non-null   float64
 30  new_tests_smoothed_per_thousand             99375 non-null   float64
 31  positive_rate                               91661 non-null   float64
 32  tests_per_case                              90133 non-null   float64
 33  tests_units                                 102202 non-null  object
 34  total_vaccinations                          51167 non-null   float64
 35  people_vaccinated                           48730 non-null   float64
 36  people_fully_vaccinated                     46186 non-null   float64
 37  total_boosters                              23345 non-null   float64
 38  new_vaccinations                            41847 non-null   float64
 39  new_vaccinations_smoothed                   100839 non-null  float64
 40  total_vaccinations_per_hundred              51167 non-null   float64
 41  people_vaccinated_per_hundred               48730 non-null   float64
 42  people_fully_vaccinated_per_hundred         46186 non-null   float64
 43  total_boosters_per_hundred                  23345 non-null   float64
 44  new_vaccinations_smoothed_per_million       100839 non-null  float64
 45  new_people_vaccinated_smoothed              99833 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  99833 non-null   float64
 47  stringency_index                            146440 non-null  float64
 48  population                                  187406 non-null  float64
 49  population_density                          168024 non-null  float64
 50  median_age                                  155727 non-null  float64
 51  aged_65_older                               154076 non-null  float64
 52  aged_70_older                               154910 non-null  float64
 53  gdp_per_capita                              154895 non-null  float64
 54  extreme_poverty                             101125 non-null  float64
 55  cardiovasc_death_rate                       155379 non-null  float64
 56  diabetes_prevalence                         162968 non-null  float64
 57  female_smokers                              117516 non-null  float64
 58  male_smokers                                115905 non-null  float64
 59  handwashing_facilities                      76337 non-null   float64
 60  hospital_beds_per_thousand                  137862 non-null  float64
 61  life_expectancy                             176332 non-null  float64
 62  human_development_index                     151353 non-null  float64
 63  excess_mortality_cumulative_absolute        6460 non-null    float64
 64  excess_mortality_cumulative                 6460 non-null    float64
 65  excess_mortality                            6460 non-null    float64
 66  excess_mortality_cumulative_per_million     6460 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 96.4+ MB

Просмотр количества пустых значений

In [8]:
pd.set_option('display.max_rows', 10)

In [9]:
df.shape

(188559, 67)